.MainScreen {
  background-color: #666;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
  gap: 5px;
  min-width: 70vw;
}

.Caminho {
  background-color: crimson;
  grid-row: 1/5;
  grid-column: 2/3;
}

.Controles {
  background-color: green;
  grid-row: 1/2;
  min-width: 30vw;
}

.Grafico {
  background-color: blue;
  grid-row: 3/5;
  min-width: 30vw;
}

.GraficoLabels {
  background-color: pink;
  grid-row: 2/3;
  min-width: 30vw;
}